:root {
    --basic-color: #000000;
    --black-arrow: #231f20;
    --text-color: #283136;
    --text-hover-catalog-item: #666666;
    --checkbox-color: #4d4d4d;
    --gray-icon: #a6a6a6;
    --gray-input-hover: #b4b9bb;
    --gray-input: #d7dcde;
    --gray-button-hover: #dfdfdf;
    --gray-button-press: #d5d5d5;
    --gray-icon-page-active: #dbdbdb;
    --bg-gray: #eeeeee;
    --gray-icon: #e1e1e1;
    --red: #fb565a;
    --red-hover: #e74246;
    --red-press: #d7373b;
    --green: #00ca74;
    --green-hover: #00bc6c;
    --green-press: #00aa62;
    --yellow: #efc84a;
    --yellow-hover: #eab534;
    --yellow-press: #e5a722;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-color);
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    word-wrap: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrap-container{
    width: 1160px;
    margin: 0 auto;
}

.main-page {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows:
      114px
      1fr
      216px;
    min-height: 100vh;
}
  
.main-header {
    grid-area: header;
}
  
.main-content {
    grid-area: main;
}
  
.social {
    grid-area: footer;
}

.main-header {
    text-transform: uppercase;
    line-height: 30px;
    background-color: var(--bg-gray);
}

.main-wrap {
    background-color: var(--bg-gray);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 124px;
}

.logo:active {
    opacity: 30%;
}

.navigation-item a{
    font-weight: 500;
}

.site-navigation,
.user-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.user-nav {
    width: 135px;
}

.main-nav a {
    color: var(--basic-color);
}

.main-nav a:hover,
.contacts-info a:first-child:hover,
.main-nav a:focus,
.contacts-info a:first-child:focus {
    color: var(--red);
}

.main-nav a:active,
.contacts-info a:first-child:active {
    color: var(--basic-color);
    opacity: 30%;
}

.navigation-item {
    position: relative;
    margin-right: 48px;
}

.user-nav .navigation-item:last-child::before {
    content: "";
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: -38px;
    padding-right: 26px;
}


.active {
    padding-bottom: 14px;
    border-bottom: 2px solid var(--red);
}

.sliders {
    position: relative;
}

.slider {
    background-color: var(--bg-gray);
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 431px;
    display: none;
}

.slider-expensive {
    background-image: url("../img/nerds-index-slide-1.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    background-position: right top;
}

.slider-math {
    background-image: url("../img/nerds-index-slide-2.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    background-position: right top;
}

.slider-hight {
    background-image: url("../img/nerds-index-slide-3.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    background-position: right top;
}

.slider-current {
    display: block;
}

.slider p:first-child {
    padding-top: 4px;
    margin-bottom: 38px;
}

.slider p:nth-child(2) {
    margin-bottom: 38px;
}

.slider-controls {
    position: absolute;
    top:74%;
    left: 50%;
    margin-left: -44px;
    display: flex;
    justify-content: space-between;
    width: 88px;
}

.slider-buttom {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
}

.current {
    background-image: url(../img/slider-mark.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}



h1,
.slider p:first-child {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider p:nth-child(2),
.service-item p,
.about-text,
.list-title,
.about-item,
.quolity-item {
    color: var(--text-color);
}

a.button {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--red);
    border-radius: 3px;
    font-weight: 500;
    width: 160px;
    min-height: 50px;
}

a.button:hover,
a.button:focus {
    background-color: var(--red-hover);
}

a.button:active {
    background-color: var(--red-press);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

a.item-prise {
    min-width: 200px;
    padding-left: 72px;
    padding-right: 72px;
}

.slider a.button {
    padding-right: 54px;
    padding-left: 54px;
}

.about-table {
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-size: 360px 208px;
    background-position: center 30px; 
    width: 360px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;   
}

.about-description {
    width: 700px;
}

.services,
.about,
.partners {
    border-bottom: 2px solid var(--bg-gray);
    padding-bottom: 64px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 48px;
}

.partners {
    padding-bottom: 20px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 1100px;
}

.about ul,
.partners-list,
.filter-list,
.sorting-list,
.catalog-list,
.view,
.pagination,
.social-list,
.about-list {
    list-style: none;
}

.service-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 300px 146px;
    margin-top: 64px;
   
}

.service-item:first-child {
    background-image: url("../img/illustration-web.jpg"); 
}

.service-item:nth-child(2) {
    background-image: url("../img/illustration-app.jpg");
}

.service-item:nth-child(3) {
    background-image: url("../img/illustration-presentation.jpg");
}

.service-item:nth-child(2) a.button {
    background-color: var(--green);
}

.service-item:nth-child(3) a.button {
    background-color: var(--yellow);
}

.service-item:nth-child(2) a.button:hover {
    background-color: var(--green-hover);
}

.service-item:nth-child(3) a.button:hover {
    background-color: var(--yellow-hover);
}

.service-item:nth-child(2) a.button:active {
    background-color: var(--green-press);
}

.service-item:nth-child(3) a.button:active {
    background-color: var(--yellow-press);
}

.service-title {
    margin: 0;
    margin-top: 170px;
}

.service-item p {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 30px;
}

.about-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 74px;
    margin-bottom: 34px;
}


.title-quolity {
    margin-top: 275px;
    margin-bottom: -4px;
}

.quolity-item {
    padding-top: 8px;
}

.table-description .quolity-item {
    line-height: 18px;
}

.title-quolity,
.list-title,
tr:first-child .quolity-item {
    text-transform: uppercase;
    font-weight: 700;
}

.list-title {
    margin-top: 40px;
    margin-bottom: 24px;
}

.about-list {
    list-style: none;
}

.about-item {
    position: relative;
    margin-bottom: 24px;
}

.about-item::before {
    content: "";
    background-image: url(../img/list-marker.svg);
    position: absolute;
    margin-left: -38px;
    top: 10px;
    width: 25px;
    height: 2px;
}

.table-quolity {
    margin-top: 25px;
}

tr:first-child .quolity-item {
    color: var(--basic-color);
    font-size: 45px;
    line-height: 64px;
}

.percent {
    font-size: 26px;
    line-height: 40px;
}

.partners-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 30px;
}

.partners-logo {
    padding-left: 48px;
    padding-right: 48px;
}

.partners-logo:not(:nth-child(4n))::after {
    content: "";
    border-right: 2px solid var(--bg-gray);
    height: 52px;
    position: absolute;
    margin-left: 47px;
    opacity: 100%;
}

.partners-logo:last-child::after {
    border: none;
}

.partners-logo {
    margin-top: 50px;
}

.logo-borodinsky,
.logo-mishka {
    margin-top: 0;
}

.logo-htmlacademy,
.logo-pink {
    margin-top: 17px; 
}

.logo-htmlacademy::after,
.logo-pink::after {
    margin-top: -17px; 
}

.logo-link {
    opacity: 20%;
}

.logo-link:hover,
.logo-link:focus {
    opacity: 100%;
}

.logo-link:active {
    opacity: 10%;
}
.map-wrap {
    margin-top: 80px;
    background-image: url(../img/map.jpg);
    width: 1440px;
    height: 416px;
    position: relative;
}


.contacts-info {
    position: absolute;
    background-color: #ffffff;
    width: 319px;
    min-height: 308px;
    left: 140px;
    top: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-title{
    margin-top: 50px;
    padding-left: 50px;
}

.info-address {
    margin-top: 4px;
    padding-left: 50px;
}

.contacts-info p:last-of-type {
    margin-top: 2px;
    padding-left: 50px;
}

a.contacts-button {
    align-self: center;
    width: 219px;
    margin-top: 21px;
}

.info-title,
.price-title,
.filter-grid,
.features-title,
.sorting-title,
.item-title a {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-color);
}

.item-title a:hover,
.item-title a:focus {
    color: var(--red);
}

.item-title a:active {
    color: var(--basic-color);
    opacity: 30%;
}

.info-address,
.info-address + p,
.contacts-info a:first-child,
.item-text {
    line-height: 18px;
    color: var(--text-hover-catalog-item);
}

.social-list {
    width: 260px;
    display: flex;
}

.social-item {
    width: 80px;
    height: 77px;
    margin-right: 12px;
    background-color: var(--gray-icon);
    border-radius: 50%;
    display: flex;
}

.social-item:hover {
    background-color: var(--red-hover);
}

.social-item:active {
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-vk a {
    background-image: url("../img/vk-icon.svg");   
    background-size: 26px 15px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px;
}

.social-fb a {
    background-image: url("../img/fb-icon.svg");   
    background-size: 12px 22px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px;
}


.social-inst a {
    background-image: url("../img/insta-icon.svg");   
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px;
}

.social-item a:active {
    opacity: 30%;
}

.contacts-title {
    font-size: 36px;
    line-height: 36px;   
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

.contacts-text {
    margin-top: 11px;
}

.social-networks {
    display: flex;
    margin-top: 55px;
    justify-content: flex-start;
}

.contacts-invitation {
    margin-left: 180px;
}

.social-networks p:last-of-type {
    line-height: 22px;   
    color: #444444;
}

.feedback {
    display: none;
}

/* Style for catalog */

.filter-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--text-color);
}

.range-controls {
    position: relative;
    height: 80px;
    background: var(--bg-gray);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 22px;
    padding-right: 22px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--gray-input);
}

.range-controls .bar {
    width: 30%;
    height: 2px;
    margin-left: 20%;
    background-color: var(--green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    width: 4px;
    height: 4px;
    padding: 2px;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 60px;
}

.range-controls .toggle-max {
    left: 130px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 80px;
    height: 38px;
    background: var(--bg-gray);
    border-radius: 3px;
    margin-left: 10px;
    border: none;
}

input[type="radio"] + label::before {
    content: "";
    background-image: url("../img/radio-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 40%;
}

input[type="radio"]:checked + label::before {
    content: "";
    background-image: url("../img/radio-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;  
    opacity: 40%;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
    content: "";
    background-image: url("../img/radio-off.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 100%; 
}

input[type="radio"]:checked:hover  + label::before,
input[type="radio"]:checked:focus  + label::before {
    content: "";
    background-image: url("../img/radio-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 100%; 
}

input[type="radio"]:disabled + label::before {
    content: "";
    background-image: url("../img/radio-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 10%;
}

input[type="radio"]:checked:disabled  + label::before {
    content: "";
    background-image: url("../img/radio-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 10%; 
}

input[type="checkbox"] + label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 40%;
}

input[type="checkbox"]:checked + label::before {
    content: "";
    background-image: url("../img/checkbox-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;  
    opacity: 40%;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 100%;
}

input[type="checkbox"]:checked:hover + label::before,
input[type="checkbox"]:checked:focus + label::before {
    content: "";
    background-image: url("../img/checkbox-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 100%; 
}

input[type="checkbox"]:disabled + label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 10%;
}

input[type="checkbox"]:checked:disabled + label::before {
    content: "";
    background-image: url("../img/checkbox-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 10%; 
}

input[type="radio"]:checked:disabled + label,
input[type="radio"]:disabled + label,
input[type="checkbox"]:checked:disabled + label,
input[type="checkbox"]:disabled + label {
    opacity: 30%;
}

.filter-item label {
    line-height: 19px;
    color: var(--text-color);
}

.input-check:disabled + label,
.input-check:checked:disabled + label {
    opacity: 30%;
}

.filter-button {
    border: none;
    background-color: var(--bg-gray);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 3px;
    color: var(--basic-color);
}

input[type="number"]::-webkit-input-placeholder {
    padding-left: 10px;
}

input[type="number"]:invalid {
    border: 2px solid var(--red-hover);
    color: var(--red-hover);
}

.filter-button:hover,
input[type="number"]:hover {
    background-color: var(--gray-button-hover);
}

.filter-button:focus,
input[type="number"]:focus {
    border: 2px solid var(--basic-color);
}

.filter-button:active {
    background-color: var(--gray-button-hover);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: #959595;
}

.sorting-item a {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-color);
    opacity: 30%;
    text-transform: uppercase;
}

.sorting-item a:hover,
.sorting-item li a:focus {
    opacity: 60%;
}

.sorting-item a:active {
    opacity: 100%;
}

.sorting-arrows {
    list-style: none;
    display: flex;
}

input[type="radio"].sorting-arrow + label::before,
input[type="radio"].sorting-arrow + label::before,
.arrow::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url(../img/icon-dir.svg);
    opacity: 20%;
}

a.arrow-2::before {
    transform: rotate(180deg);
}

.arrow:hover::before,
.arrow:focus::before  {
    opacity: 40%;
}

.arrow:active::before  {
    opacity: 100%;
}

.item-info {
    background-color: var(--bg-gray);
}

.pagination {
    display: flex;
}

.pagination-item,
.pagination-button {
    display: flex;
    min-width: 46px;
    height: 47px;
    border-radius: 3px;
    background-color: var(--bg-gray);
    margin-right: 11px;
    padding: 2px;
}

.pagination-item a,
.pagination-button a {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--basic-color);
    margin: auto;
    padding: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

.pagination-button a {
    padding-right: 78px;
    padding-left: 78px;
    margin-right: 0;
}

.pagination-item:hover,
.pagination-button:hover{
    background-color: var(--gray-button-hover);
}

.pagination-item:active,
.pagination-button:active {
    background-color: var(--gray-button-press);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item a:active,
.pagination-button a:active {
    color: #959595;
} 

.pagination .disabled {
    min-width: 40px;
    min-height: 43px;
    border: 2px solid var(--gray-icon-page-active);
    background-color: #ffffff;
}

.disabled a {
    padding: 15px;
    padding-top: 11px;
}

.disabled a:active{
    color: var(--basic-color);
}

.disabled:active{
    box-shadow: none;
}

input[type="text"] {
    min-height: 50px;
    background: #FFFFFF;
    border: 2px solid var(--gray-input);
    border-radius: 3px;
    padding-left: 10px;
}

input[type="text"]:hover {
    border: 2px solid var(--gray-input-hover);
}

input[type="text"]:focus {
    border: 2px solid var(--basic-color);
    color: #444444;
}

input[type="text"]:focus::-webkit-input-placeholder {
    color: #444444;
}

input[type="text"]:invalid {
    border: 2px solid var(--red-hover);
}

input[type="text"]:invalid::-webkit-input-placeholder {
    color: var(--red-hover);
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}

.catalog-list li{
    display: flex;
} 

.catalog-item {
    display: flex;
    padding-top: 40px;
    background-color: var(--bg-gray);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-right: 40px;
}

.catalog-item:hover {
    background-color: var(--checkbox-color);
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
 }

 .catalog-item:hover .item-info {
    visibility: visible;
    position: absolute;
     
 }

.circle,
.circle::before,
.circle::after {
    content: "";
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
}

.circle {
    top: 13px;
    left: 16px;
}

.circle::before {
    left: 22px;
}

.circle::after {
    left: 44px;
}

.item-info {
   visibility: hidden;
   position: absolute;
}

img.item-img {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
