:root {
    --basic-color: #000000;
    --black-arrow: #231f20;
    --text-color: #283136;
    --text-hover-catalog-item: #666666;
    --checkbox-color: #4d4d4d;
    --gray-icon: #a6a6a6;
    --gray-input-hover: #b4b9bb;
    --gray-input: #d7dcde;
    --gray-button-hover: #dfdfdf;
    --gray-button-press: #d5d5d5;
    --gray-icon-page-active: #dbdbdb;
    --bg-gray: #eeeeee;
    --gray-icon: #e1e1e1;
    --red: #fb565a;
    --red-hover: #e74246;
    --red-press: #d7373b;
    --green: #00ca74;
    --green-hover: #00bc6c;
    --green-press: #00aa62;
    --yellow: #efc84a;
    --yellow-hover: #eab534;
    --yellow-press: #e5a722;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-color);
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
h3 {
    font-size: 24px;
    line-height: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    word-wrap: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.main-header {
    text-transform: uppercase;
    line-height: 30px;
}

.main-header {
    background-color: var(--bg-gray);
}

.logo:active {
    opacity: 30%;
}

.navigation-item a{
    font-weight: 500;
}

.site-navigation,
.menu-user,
.user-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    width: 436px;
}

.user-nav {
    width: 135px;
}

.main-nav a {
    color: var(--basic-color);
}

.main-nav a:hover,
.contacts-info a:first-child:hover,
.main-nav a:focus,
.contacts-info a:first-child:focus {
    color: var(--red);
}

.main-nav a:active,
.contacts-info a:first-child:active {
    color: var(--basic-color);
    opacity: 30%;
}

.active {
    padding-bottom: 14px;
    border-bottom: 2px solid var(--red);
}

.slider {
    background-color: var(--bg-gray);
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 431px;
}

.slider-expensive {
    background-image: url("../img/nerds-index-slide-1.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    background-position: right top;
}

.slider-math {
    background-image: url("../img/nerds-index-slide-2.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    background-position: right top;
}

.slider-hight {
    background-image: url("../img/nerds-index-slide-3.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    background-position: right top;
}

h1,
.slider p:first-child {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider p:nth-child(2),
.service-item p,
.about-text,
.about-list,
.about-item,
.quolity-item {
    color: var(--text-color);
}

a.button {
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--red);
    border-radius: 3px;
    font-weight: 500;
    min-width: 160px;
    min-height: 50px;
}

a.button:hover,
a.button:focus {
    background-color: var(--red-hover);
}

a.button:active {
    background-color: var(--red-press);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

a.item-prise {
    min-width: 200px;
    padding-left: 72px;
    padding-right: 72px;
}

.slider a.button {
    padding-right: 54px;
    padding-left: 54px;
}

.about {
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-size: 360px 208px;
    background-position: right top;
}

.services,
.about,
.partners {
    border-bottom: 2px solid var(--bg-gray);
}

.service-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 1100px;
}

.about ul,
.partners-list,
.filter-list,
.sorting-list,
.catalog-list,
.view,
.pagination,
.social-list {
    list-style: none;
}

.service-item {
    align-items: space-around;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 300px 146px;
}

.service-item:first-child {
    background-image: url("../img/illustration-web.jpg"); 
}

.service-item:nth-child(2) {
    background-image: url("../img/illustration-app.jpg");
}

.service-item:nth-child(3) {
    background-image: url("../img/illustration-presentation.jpg");
}

.service-item:nth-child(2) a.button {
    background-color: var(--green);
}

.service-item:nth-child(3) a.button {
    background-color: var(--yellow);
}

.service-item:nth-child(2) a.button:hover {
    background-color: var(--green-hover);
}

.service-item:nth-child(3) a.button:hover {
    background-color: var(--yellow-hover);
}

.service-item:nth-child(2) a.button:active {
    background-color: var(--green-press);
}

.service-item:nth-child(3) a.button:active {
    background-color: var(--yellow-press);
}

.about-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.title-quolity,
.about-list,
tr:first-child .quolity-item {
    text-transform: uppercase;
    font-weight: 700;
}

tr:first-child .quolity-item {
    color: var(--basic-color);
    font-size: 45px;
    line-height: 64px;
}

.percent {
    font-size: 26px;
    line-height: 40px;
}

.partners-logo {
    opacity: 20%;
}

.partners-logo:hover {
    opacity: 100%;
}

.partners-logo:active {
    opacity: 10%;
}

.contacts-info {
    background-color: #ffffff;
    width: 319px;
}

.info-title,
.price-title,
.filter-grid,
.features-title,
.sorting-title,
.item-title a {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-color);
}

.item-title a:hover,
.item-title a:focus {
    color: var(--red);
}

.item-title a:active {
    color: var(--basic-color);
    opacity: 30%;
}

.info-address,
.info-address + p,
.contacts-info a:first-child,
.item-text {
    line-height: 18px;
    color: var(--text-hover-catalog-item);
}

.social-list {
    width: 300px;
    display: flex;
}

.social-item {
    width: 80px;
    height: 77px;
    margin-right: 9px;
    background-color: var(--gray-icon);
    border-radius: 50%;
    display: flex;
}

.social-item:hover {
    background-color: var(--red-hover);
}

.social-item:active {
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-vk a {
    background-image: url("../img/vk-icon.svg");   
    background-size: 26px 15px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px;
}

.social-fb a {
    background-image: url("../img/fb-icon.svg");   
    background-size: 12px 22px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px;
}


.social-inst a {
    background-image: url("../img/insta-icon.svg");   
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 39px;
}

.social-item a:active {
    opacity: 30%;
}

.contacts-title {
    font-size: 36px;
    line-height: 36px;   
    font-weight: 700;
}

.social-networks p:last-of-type {
    line-height: 22px;   
    color: #444444;
}

.feedback {
    display: none;
}

/* Style for catalog */

.filter-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--text-color);
}

.range-controls {
    position: relative;
    height: 80px;
    background: var(--bg-gray);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 22px;
    padding-right: 22px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--gray-input);
}

.range-controls .bar {
    width: 30%;
    height: 2px;
    margin-left: 20%;
    background-color: var(--green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    width: 4px;
    height: 4px;
    padding: 2px;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 60px;
}

.range-controls .toggle-max {
    left: 130px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 80px;
    height: 38px;
    background: var(--bg-gray);
    border-radius: 3px;
    margin-left: 10px;
    border: none;
}

input[type="radio"] + label::before {
    content: "";
    background-image: url("../img/radio-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 40%;
}

input[type="radio"]:checked + label::before {
    content: "";
    background-image: url("../img/radio-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;  
    opacity: 40%;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
    content: "";
    background-image: url("../img/radio-off.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 100%; 
}

input[type="radio"]:checked:hover  + label::before,
input[type="radio"]:checked:focus  + label::before {
    content: "";
    background-image: url("../img/radio-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 100%; 
}

input[type="radio"]:disabled + label::before {
    content: "";
    background-image: url("../img/radio-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 10%;
}

input[type="radio"]:checked:disabled  + label::before {
    content: "";
    background-image: url("../img/radio-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 10%; 
}

input[type="checkbox"] + label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 40%;
}

input[type="checkbox"]:checked + label::before {
    content: "";
    background-image: url("../img/checkbox-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;  
    opacity: 40%;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 100%;
}

input[type="checkbox"]:checked:hover  + label::before,
input[type="checkbox"]:checked:focus  + label::before {
    content: "";
    background-image: url("../img/checkbox-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 100%; 
}

input[type="checkbox"]:disabled + label::before {
    content: "";
    background-image: url("../img/checkbox-off.svg");   
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    opacity: 10%;
}

input[type="checkbox"]:checked:disabled  + label::before {
    content: "";
    background-image: url("../img/checkbox-on.svg"); 
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px; 
    opacity: 10%; 
}

input[type="radio"]:checked:disabled + label,
input[type="radio"]:disabled + label,
input[type="checkbox"]:checked:disabled + label,
input[type="checkbox"]:disabled + label {
    opacity: 30%;
}

.filter-item label {
    line-height: 19px;
    color: var(--text-color);
}

.input-check:disabled + label,
.input-check:checked:disabled + label {
    opacity: 30%;
}

.filter-button {
    border: none;
    background-color: var(--bg-gray);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 3px;
    color: var(--basic-color);
}

input[type="number"]::-webkit-input-placeholder {
    padding-left: 10px;
}

input[type="number"]:invalid {
    border: 2px solid var(--red-hover);
    color: var(--red-hover);
}

.filter-button:hover,
input[type="number"]:hover {
    background-color: var(--gray-button-hover);
}

.filter-button:focus,
input[type="number"]:focus {
    border: 2px solid var(--basic-color);
}

.filter-button:active {
    background-color: var(--gray-button-hover);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: #959595;
}

.sorting-list li a {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-color);
    opacity: 30%;
    text-transform: uppercase;
}

.sorting-list li a:hover,
.sorting-list li a:focus {
    opacity: 60%;
}

.sorting-list li a:active {
    opacity: 100%;
}

.sorting-arrows {
    list-style: none;
    display: flex;
}

input[type="radio"].sorting-arrow + label::before,
input[type="radio"].sorting-arrow + label::before,
.arrow::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url(../img/icon-dir.svg);
    opacity: 20%;
}

a.arrow-2::before {
    transform: rotate(180deg);
}

.arrow:hover::before,
.arrow:focus::before  {
    opacity: 40%;
}

.arrow:active::before  {
    opacity: 100%;
}

.item-info {
    background-color: var(--bg-gray);
}

.pagination {
    display: flex;
}

.pagination-item,
.pagination-button {
    display: flex;
    min-width: 46px;
    height: 47px;
    border-radius: 3px;
    background-color: var(--bg-gray);
    margin-right: 11px;
    padding: 2px;
}

.pagination-item a,
.pagination-button a {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--basic-color);
    margin: auto;
    padding: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

.pagination-button a {
    padding-right: 78px;
    padding-left: 78px;
    margin-right: 0;
}

.pagination-item:hover,
.pagination-button:hover{
    background-color: var(--gray-button-hover);
}

.pagination-item:active,
.pagination-button:active {
    background-color: var(--gray-button-press);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item a:active,
.pagination-button a:active {
    color: #959595;
} 

.pagination .disabled {
    min-width: 40px;
    min-height: 43px;
    border: 2px solid var(--gray-icon-page-active);
    background-color: #ffffff;
}

.disabled a {
    padding: 15px;
    padding-top: 11px;
}

.disabled a:active{
    color: var(--basic-color);
}

.disabled:active{
    box-shadow: none;
}

input[type="text"] {
    min-height: 50px;
    background: #FFFFFF;
    border: 2px solid var(--gray-input);
    border-radius: 3px;
    padding-left: 10px;
}

input[type="text"]:hover {
    border: 2px solid var(--gray-input-hover);
}

input[type="text"]:focus {
    border: 2px solid var(--basic-color);
    color: #444444;
}

input[type="text"]:focus::-webkit-input-placeholder {
    color: #444444;
}

input[type="text"]:invalid {
    border: 2px solid var(--red-hover);
}

input[type="text"]:invalid::-webkit-input-placeholder {
    color: var(--red-hover);
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}

.catalog-item {
    min-width: 358px;
    padding-top: 40px;
    background-color: var(--bg-gray);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-right: 40px;
    
}

.catalog-item:hover {
    background-color: var(--checkbox-color);
     
 }

 .catalog-item:hover .item-info {
    visibility: visible;
    position: absolute;
     
 }

.circle,
.circle::before,
.circle::after {
    content: "";
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
}

.circle {
    top: 13px;
    left: 16px;
}

.circle::before {
    left: 22px;
}

.circle::after {
    left: 44px;
}

.item-info {
   visibility: hidden;
   position: absolute;
}

